[submodule "_includes/plugins/bootstrap"]
	path = _includes/plugins/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "_includes/plugins/font-awesome"]
	path = _includes/plugins/font-awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "_includes/plugins/leaflet"]
	path = _includes/plugins/leaflet
	url = git@github.com:Leaflet/Leaflet.git
[submodule "_includes/plugins/leaflet-easybutton"]
	path = _includes/plugins/leaflet-easybutton
	url = git@github.com:CliffCloud/Leaflet.EasyButton.git
[submodule "_includes/plugins/leaflet-locatecontrol"]
	path = _includes/plugins/leaflet-locatecontrol
	url = git@github.com:domoritz/leaflet-locatecontrol.git
[submodule "_includes/plugins/leaflet-providers"]
	path = _includes/plugins/leaflet-providers
	url = git@github.com:leaflet-extras/leaflet-providers.git
[submodule "_includes/plugins/syncscroll"]
	path = _includes/plugins/syncscroll
	url = git@github.com:asvd/syncscroll.git
