### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Bundler ###
.bundle/
vendor/bundle/

### Node.js ###
node_modules/
assets/js/*.bundle.js
assets/css/*.bundle.css
assets/webfonts/bootstrap-icons.*

### Python ###
__pycache__/
.venv/

### MacOS ###
.DS_Store
