title: Congress 2018
description: >-
  A short description
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://example.com" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
sass:
  style: compressed

# Exclude from processing
exclude:
  - vendor
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - Gemfile
  - Gemfile.lock

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  location:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talks
  - scope:
      path: ""
      type: speakers
    values:
      layout: speakers
  - scope:
      path: ""
      type: location
    values:
      layout: location

# Navigation bar
navigation:
  - name: Program
    relative_url: /program/
  - name: Talks
    relative_url: /talks/
  - name: Speakers
    relative_url: /speakers/
  - name: Location
    relative_url: /location/
  - name: About
    relative_url: /about/
  - name: Previous Editions
    menu:
      - name: 2018 (current)
        disabled: true
      - name: 2017
        relative_url: /2017/
      - name: 2016
        relative_url: /2016/

# Main landing page links
main_links:
  - name: Program
    relative_url: /program/
  - name: How to get there
    relative_url: /location/
  - name: Tickets
    disabled: true
    absolute_url: 'https://github.com'

# Information boxes
info_bars:
  - title: Important Information
    color: primary
    main_only: true
    text: |
      We're truly sorry but we are sold out.

      ---

      Try again next year.
  - text: The content on these pages is outdated!
    color: warning
    pages_only: true

# Talk categories
main_categories:
  - name: Cat A
    color: primary
  - name: Cat B
    color: success

# Program table settings
time_steps: 15 # in minutes

hide_links:
  location: false
  speakers:
    - The Anonymous
  talks:
    - Talk 2

show_firstname: true
show_alltimes: true
