
  </main>
  <footer class="container"></footer>

  <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

  {% if page.url contains "program" %}
    <script src="{{ site.baseurl }}/assets/js/jquery.stickyheader.js"></script>
  {% endif %}
  {% if page.url contains "location" %}
    <script src="{{ site.baseurl }}/assets/js/leaflet.js"></script>
    <script src="{{ site.baseurl }}/assets/js/leaflet-providers.js"></script>
    <script src="{{ site.baseurl }}/assets/js/leaflet-easybutton.js"></script>
    <script src="{{ site.baseurl }}/assets/js/leaflet-locate.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/map.js"></script>
  {% endif %}

</body>
</html>
