{%- assign link_valid = false -%}
{%- if link.live -%}
  {%- if include.link_type == "live" -%}
    {%- assign link_valid = true -%}
  {%- endif -%}
{%- elsif link.icon or link.file or link.video -%}
  {%- if include.link_type == "icon" -%}
    {%- assign link_valid = true -%}
  {%- endif -%}
{%- else -%}
  {%- if include.link_type == "regular" -%}
    {%- assign link_valid = true -%}
  {%- endif -%}
{%- endif -%}

{%- assign link_disabled = link.disabled -%}
{%- assign link_icon = link.icon -%}
{%- assign link_iframe = link.iframe -%}

{%- assign link_href = "" -%}
{%- assign link_icon = "" -%}
{%- assign link_iframe = false -%}
{%- assign link_disabled = false -%}
{%- if link.absolute_url -%}
  {%- assign link_href = link.absolute_url -%}

{%- elsif link.relative_url -%}
  {%- assign link_href = link.relative_url | prepend: site.baseurl -%}

{%- elsif link.file -%}
  {%- assign link_icon = link.icon | default: "file-alt" -%}

  {%- if talk -%}
    {%- assign link_href = link.file | prepend: '/documents/slides/' | prepend: site.baseurl -%}

  {%- elsif speaker -%}
    {%- assign link_href = link.file | prepend: '/documents/bio/' | prepend: site.baseurl -%}

  {%- else -%}
    {%- assign link_href = link.file | prepend: '/documents/' | prepend: site.baseurl -%}

  {%- endif -%}

{%- elsif link.video -%}
  {%- assign link_href = link.video -%}
  {%- assign link_icon = link.icon | default: "video" -%}
  {%- assign link_iframe = link.iframe | default: true -%}

  {%- if talk -%}
    {%- capture modal_title -%}
      {%- if talk.hide -%}
        {{ talk.name }}
      {%- else -%}
        <a class="text-reset link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ talk.url | prepend: site.baseurl }}">
          {{ talk.name }}
        </a>
      {%- endif -%}
    {%- endcapture -%}
    {%- capture modal_subtitle -%}
      {%- include list_speakers.html -%}
    {%- endcapture -%}

  {%- elsif speaker -%}
    {%- capture modal_title -%}
      {%- if speaker.hide -%}
        {{ speaker.first_name }} {{ speaker.last_name }}
      {%- else -%}
        <a class="text-reset link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ speaker.url | prepend: site.baseurl }}">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </a>
      {%- endif -%}
    {%- endcapture -%}
    {%- assign modal_footer = link.name -%}

  {%- endif -%}

{%- else -%}
  {%- assign link_disabled = true -%}

{%- endif -%}

{%- capture link_tag -%}
  {%- if link_disabled -%}
    <a class="disabled link-underline link-underline-opacity-0 {{ link_styleclass | default: '' }}" href="#">

  {%- elsif link_iframe -%}
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover {{ link_styleclass | default: '' }}" title="{{ link.name }}" data-bs-toggle="modal" data-bs-target="#link-modal" data-href="{{ link_href }}" href="#" {% if modal_title -%}
      data-format='html' data-title="{{ modal_title | strip_newlines | escape }}" {%- if modal_subtitle %} data-subtitle="{{ modal_subtitle | strip_newlines | escape }}"{%- endif -%}
    {%- elsif link.name -%}
      data-format='text' data-title="{{ link.name }}"
    {%- endif %} {% if modal_footer -%}
      data-format='html' data-footer="{{ modal_footer | strip_newlines | escape }}"
    {%- elsif link.description -%}
      data-format='text' data-footer="{{ link.description }}"
    {%- endif %}>

  {%- else -%}
    <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover {{ link_styleclass | default: '' }}" href="{{ link_href }}" title="{{ link.name }}">

  {%- endif -%}
{%- endcapture -%}

{%- capture link_list_item -%}
  <li class="mb-1">
    {{ link_tag }}
      <span class="badge rounded-0 border-start border-4 border-{{ track_color | default: 'primary' }}-subtle bg-secondary-subtle text-secondary-emphasis fw-normal me-1">
        <i class="fas fa-{{ link_icon | default: 'link' }} fa-fw"></i>
      </span>
      {{- link.name }}
    </a>
  </li>
{%- endcapture -%}

{%- assign link_styleclass = "" -%}
