{%- assign stream_label = site.data.lang[site.conference.lang].live.stream | default: "Live Stream" -%}

{%- if site.conference.live.streaming.external -%}
  <a
    class="{{ include.class }}"
    href="{{ site.conference.live.streaming.external }}"
    title="{{ stream_label }}"
  >
{%- else -%}
  {%- if r -%}
    {%- assign data_room = r -%}
  {%- else -%}
    {% assign data_room = site.rooms | sort: "order" | first %}
  {%- endif -%}
  <a
    class="{{ include.class }}"
    href="#"
    title="{{ stream_label }}"
    data-bs-toggle="modal"
    data-bs-target="#stream-modal"
    data-room="{{ data_room.name }}"
    aria-haspopup="dialog"
  >
{%- endif -%}
