<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    {% unless page.name contains '.' %}{{ page.name }} - {% else %}{% if page.title %}{{ page.title }} - {% endif %}{% endunless %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

</head>
<body{% if page.url contains "program" %} class="page-program"{% endif %}>
  <header>
    <!-- navigation bar (web only): -->
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% assign navigation = site.navigation | where_exp: 'link', 'link.navbar_name' %}
            {% for link in navigation %}
              <li class="nav-item {% if page.url contains link.relative_url %}active{% endif %}">
                {% if link.disabled %}
                  <a class="nav-link disabled" href="#">
                    {{ link.navbar_name }}
                  </a>
                {% else %}
                  <a class="nav-link" href="{% if link.absolute_url %}{{ link.absolute_url }}{% else %}{{ link.relative_url | prepend: site.baseurl }}{% endif %}">
                    {{ link.navbar_name }}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    {% unless page.url == "/" %}
      <!-- site title (print only): -->
      <div class="container d-none d-print-block">
        &nbsp;
        <h1 class="display-4">
          {{ site.title }}
        </h1>
      </div>
    {% endunless %}

  </header>
  <main class="container">

    {% include info_bar.html %}
