{%- if site.conference.show_errors -%}
  {%- include checks.html -%}
  {%- if errors.size > 0 -%}
    {%- for error in errors %}
      <div class="alert alert-danger fade show" role="alert">
        <h5 class="alert-heading">There was an error when generating the site!</h5>

        {{ error | markdownify }}
      </div>
    {%- endfor -%}
  {%- endif -%}
{%- endif -%}

{%- if  site.conference.info.bars.size > 0 -%}
  {%- for infobar in site.conference.info.bars -%}

    {%- assign show_infobar = false -%}
    {%- if page.url == "/" and infobar.pages_only != true -%}
      {%- assign show_infobar = true -%}
    {%- endif -%}
    {%- if page.url != "/" and infobar.main_only != true -%}
      {%- assign show_infobar = true -%}
    {%- endif -%}

    {%- if show_infobar %}
      {%- assign dismissal_days = infobar.dismissal_days | default: 7 -%}
      {%- if dismissal_days > 0 -%}
        {%- assign infobar_id = infobar.title | default: '' | append: infobar.text | slugify -%}
        <div class="alert alert-{{ infobar.color }} alert-dismissible fade show" role="alert" data-infobar-id="{{ infobar_id }}" data-infobar-dismiss="{{ dismissal_days | times: 86400 }}">
      {%- else -%}
        <div class="alert alert-{{ infobar.color }} fade show" role="alert">
      {%- endif -%}

      {%- if infobar.title %}
        <h4 class="alert-heading">{{ infobar.title }}</h4>
      {%- endif %}

      {{ infobar.text | markdownify | replace: "<a href=", "<a class='alert-link' href=" }}

      {%- if dismissal_days > 0 -%}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ site.data.lang[site.conference.lang].close | default: 'Close' }}"></button>
      {%- endif -%}
      </div>
    {%- endif -%}

  {%- endfor -%}
{%- endif -%}

{%- if site.conference.info.modals.size > 0 -%}
  {%- for infomodal in site.conference.info.modals -%}

    {%- assign show_infomodal = false -%}
    {%- if page.url == "/" and infomodal.pages_only != true -%}
      {%- assign show_infomodal = true -%}
    {%- endif -%}
    {%- if page.url != "/" and infomodal.main_only != true -%}
      {%- assign show_infomodal = true -%}
    {%- endif -%}

    {%- if show_infomodal %}
      {%- assign infomodal_id = infomodal.title | default: '' | append: infomodal.text | slugify -%}
      {%- assign dismissal_days = infomodal.dismissal_days | default: 7 -%}

      <div
        class="modal fade infomodal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="infomodal-title-{{ forloop.index }}"
        aria-describedby="infomodal-body-{{ forloop.index }}"
        {% if dismissal_days == 0 %}
          data-bs-backdrop="static"
          data-bs-keyboard="false"
        {% else %}
          data-infomodal-id="{{ infomodal_id }}"
          data-infomodal-dismiss="{{ dismissal_days | times: 86400 }}"
        {% endif %}
      >
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">

            {%- if infomodal.title or dismissal_days > 0 -%}
              <div class="modal-header">
                {%- if infomodal.title -%}
                  <h5 class="modal-title" id="infomodal-title-{{ forloop.index }}">
                    {{ infomodal.title }}
                  </h5>
                {%- endif -%}
                {%- if dismissal_days > 0 -%}
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ site.data.lang[site.conference.lang].close | default: 'Close' }}"></button>
                {%- endif -%}
              </div>
            {%- endif -%}

            <div class="modal-body" id="infomodal-body-{{ forloop.index }}">

              {{ infomodal.text | markdownify }}

            </div>

            {%- if dismissal_days > 0 -%}
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                  {{ site.data.lang[site.conference.lang].close | default: "Close" }}
                </button>
              </div>
            {%- endif -%}

          </div>
        </div>
      </div>
    {%- endif -%}

  {%- endfor -%}
{%- endif -%}
