<nav class="navbar navbar-expand-{{ site.conference.navigation.breakpoint | default: 'md' }} bg-secondary-subtle text-secondary-emphasis mb-3" aria-label="{{ site.data.lang[site.conference.lang].navigation.main | default: 'Main navigation' }}">
  <div class="container">

    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ site.data.lang[site.conference.lang].navigation.toggle | default: 'Toggle navigation menu' }}">
      <span class="navbar-toggler-icon" aria-hidden="true"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {%- for link in site.conference.navigation.links -%}

          {%- if link.menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown{{ forloop.index0 }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ link.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-dropdown{{ forloop.index0 }}">
                {%- assign parent_link = link -%}
                {%- for link in parent_link.menu -%}
                  {%- assign link_styleclass = "dropdown-item" -%}
                  {%- include get_link.html %}
                  {{ link_tag }}
                    {{ link.name }}
                  </a>
                {%- endfor %}
              </div>
            </li>

          {%- elsif link.live -%}
            {%- include get_live_timestamps.html -%}

            {%- if link.name != nil or link.name_inactive == nil -%}
              <li class="nav-item live-show d-none d-print-none" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
                {% assign link_styleclass = "nav-link" %}
                {% include get_live_link.html %}
              </li>
            {%- endif -%}

            {%- if link_name_inactive -%}
              <li class="nav-item live-hide d-print-inline-block" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                  {{ link.name_inactive }}
                </a>
              </li>
            {%- endif -%}

          {%- else %}
            <li class="nav-item {% if page.url contains link.relative_url %}active{% endif %}">
              {%- assign link_styleclass = "nav-link" -%}
              {%- include get_link.html -%}
              {{ link_tag }}
                {{ link.name }}
              </a>
            </li>
          {%- endif -%}
        {%- endfor %}
      </ul>
    </div>

    {%- if site.conference.navigation.logo %}
      <div class="navbar-brand navbar-logo me-0 ms-1 text-end overflow-hidden">
        <a href="{{ site.conference.navigation.logo.url }}">
          {%- if site.conference.navigation.logo.img %}
            {%- if site.conference.navigation.logo.img_dark %}
              <img src="{{ site.conference.navigation.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="align-middle mode-light" alt="{{ site.conference.navigation.logo.name }}" />
              <img src="{{ site.conference.navigation.logo.img_dark | prepend: '/assets/images/' | prepend: site.baseurl }}" class="align-middle mode-dark" alt="{{ site.conference.navigation.logo.name }}" />
            {%- else %}
              <img src="{{ site.conference.navigation.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="align-middle" alt="{{ site.conference.navigation.logo.name }}" />
            {%- endif %}
          {%- else %}
            {{ site.conference.navigation.logo.name }}
          {%- endif %}
        </a>
      </div>
    {%- endif %}

  </div>
</nav>
