<nav class="navbar navbar-expand-{{ site.conference.navigation.breakpoint | default: 'md' }} bg-secondary-subtle text-secondary-emphasis mb-3">
  <div class="container">

    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {%- for link in site.conference.navigation.links -%}

          {%- if link.menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown{{ forloop.index0 }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ link.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-dropdown{{ forloop.index0 }}">
                {%- assign parent_link = link -%}
                {%- for link in parent_link.menu -%}
                  {%- assign link_styleclass = "dropdown-item" -%}
                  {%- include get_link.html %}
                  {{ link_tag }}
                    {{ link.name }}
                  </a>
                {%- endfor %}
              </div>
            </li>

          {%- elsif link.live -%}
            {%- include get_live_timestamps.html -%}

            {%- if link.name == blank -%}
              {%- assign link_name = site.data.lang[site.conference.lang].live.stream | default: "Live Stream" -%}
            {%- elsif link.name -%}
              {%- assign link_name = link.name -%}
            {%- else -%}
              {%- assign link_name = nil -%}
            {%- endif -%}

            {%- if link_name -%}
              <li class="nav-item live-show d-none" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
                {%- if site.conference.live.streaming.enable %}
                  <a
                    class="nav-link"
                    title="{{ link_name }}"
                  {%- if site.conference.live.streaming.external %}
                    href="{{ site.conference.live.streaming.external }}"
                  {%- else %}
                    data-bs-toggle="modal" data-bs-target="#stream-modal" data-room="{{ r.name }}" href="#"
                  {%- endif -%}
                  >
                {%- else %}
                  {%- assign link_styleclass = "nav-link" -%}
                  {%- include get_link.html %}
                  {{ link_tag }}
                {%- endif %}

                  {{ link_name }}

                  <span class="live-button bg-dark text-dark-emphasis py-1 px-2 rounded">
                    <object data="{{ site.baseurl }}/assets/icons/live.svg" type="image/svg+xml">!</object>
                    {{ site.data.lang[site.conference.lang].live.live | default: "Live" }}
                  </span>
                </a>
              </li>
            {%- endif -%}

            {%- if link.name_inactive == blank -%}
              {%- assign link_name_inactive = site.data.lang[site.conference.lang].live.stream | default: "Live Stream" -%}
            {%- elsif link.name_inactive -%}
              {%- assign link_name_inactive = link.name_inactive -%}
            {%- else -%}
              {%- assign link_name_inactive = nil -%}
            {%- endif -%}

            {%- if link_name_inactive -%}
              <li class="nav-item live-hide" data-start="{{ live_starts }}" data-end="{{ live_ends }}">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                  {{ link_name_inactive }}
                </a>
              </li>
            {%- endif -%}

          {%- else %}
            <li class="nav-item {% if page.url contains link.relative_url %}active{% endif %}">
              {%- assign link_styleclass = "nav-link" -%}
              {%- include get_link.html -%}
              {{ link_tag }}
                {{ link.name }}
              </a>
            </li>
          {%- endif -%}
        {%- endfor %}
      </ul>
    </div>

    {%- if site.conference.navigation.logo %}
      <div class="navbar-brand navbar-logo me-0 ms-1 text-end overflow-hidden">
        <a href="{{ site.conference.navigation.logo.url }}">
          {%- if site.conference.navigation.logo.img %}
            <img src="{{ site.conference.navigation.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="align-middle" alt="{{ site.conference.navigation.logo.name }}" />
          {%- else %}
            {{ site.conference.navigation.logo.name }}
          {%- endif %}
        </a>
      </div>
    {%- endif %}

  </div>
</nav>
