{%- comment -%}
  Generate Schema.org JSON-LD structured data for location (Place)
  Usage: {% include schema_location.html %}
{%- endcomment -%}
{%- include get_location_config.html -%}
{%- assign conference_url = site.url | append: site.baseurl -%}
{%- assign location_url = location_url | prepend: site.baseurl | prepend: site.url -%}

{%- assign contains_places = "" -%}
{%- assign first_room = true -%}
{%- for r in site.rooms -%}
  {%- unless r.hide -%}
    {%- unless first_room -%}
      {%- assign contains_places = contains_places | append: "," -%}
    {%- else -%}
      {%- assign first_room = false -%}
    {%- endunless -%}
    {%- assign r_url = r.url | prepend: site.baseurl | prepend: site.url -%}
    {%- assign contains_places = contains_places | append: '{"@type":"Place","url":"' | append: r_url | append: '"}' -%}
  {%- endunless -%}
{%- endfor -%}

{%- unless site.conference.meta.schema_org.disable or location_hide -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Place"{% if location_postal_address.name %},
  "name": {{ location_postal_address.name | jsonify }}{% endif %}{% if location_postal_address %},
  "url": "{{ location_url }}"{% if location_map %},
  "hasMap": "{{ location_url }}"{% endif %},
  "address": {
    "@type": "PostalAddress"{% if location_postal_address.street %},
    "streetAddress": {{ location_postal_address.street | jsonify }}{% endif %}{% if location_postal_address.locality %},
    "addressLocality": {{ location_postal_address.locality | jsonify }}{% endif %}{% if location_postal_address.postal_code %},
    "postalCode": {{ location_postal_address.postal_code | jsonify }}{% endif %}{% if location_postal_address.region %},
    "addressRegion": {{ location_postal_address.region | jsonify }}{% endif %}{% if location_postal_address.country %},
    "addressCountry": {{ location_postal_address.country | jsonify }}{% endif %}
  }{% endif %}{% if contains_places != "" %},
  "containsPlace": [
    {{ contains_places }}
  ]{% endif %},
  "event": {
    "@type": "ConferenceEvent",
    "url": "{{ conference_url }}"
  }
}
</script>
{%- endunless -%}
