{%- comment -%}
  Generate Schema.org JSON-LD structured data for a room (Place)
  Usage: {% include schema_room.html %}
{%- endcomment -%}
{%- assign room = page -%}
{%- assign room_url = page.url | prepend: site.baseurl | prepend: site.url -%}

{%- include get_location_config.html -%}
{%- assign schema_location_url = location_url | prepend: site.baseurl | prepend: site.url -%}

{%- unless site.conference.meta.schema_org.disable or location_hide or room.hide -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Place",
  "name": {{ room.name | jsonify }},
  "url": "{{ room_url }}",
  "containedInPlace": {
    "@type": "Place"{% if location_postal_address.name %},
    "name": {{ location_postal_address.name | jsonify }}{% endif %},
    "url": "{{ schema_location_url }}"
  }
}
</script>
{%- endunless -%}
