/**
 * Conference Theme Styles
 *
 * Custom styles for the conference theme.
 * These styles extend and customize Bootstrap components.
 */

// Import Bootstrap to access mixins
@use "bootstrap/scss/bootstrap" as *;

// Program Overview
.program-table {
  border-collapse: separate !important;
  border-spacing: 0 !important;

  // don't use sticky-top as it is placed above dropdown menu
  // see https://getbootstrap.com/docs/5.3/layout/z-index/
  thead {
    position: sticky;
    top: 0;
    z-index: 910;
  }

  th:first-of-type {
    position: sticky;
    left: 0;
    z-index: 900;
  }

  thead th:not(:first-of-type):nth-child(odd) {
    width: 250px;
  }
}

// Speaker Columns
@mixin generate-col-count-classes($max-cols: 6, $breakpoints: (xs, sm, md, lg, xl, xxl)) {

  // Generate base classes without breakpoint (col-count-1, col-count-2, etc.)
  @for $idx from 1 through $max-cols {
    .col-count-#{$idx} {
      column-count: $idx;
    }
  }

  // Generate responsive classes for each breakpoint
  @each $breakpoint in $breakpoints {
    @if $breakpoint !='xs' {
      @include media-breakpoint-up($breakpoint) {
        @for $idx from 1 through $max-cols {
          .col-count-#{$breakpoint}-#{$idx} {
            column-count: $idx;
          }
        }
      }
    }
  }
}

// Call the mixin to generate all classes
@include generate-col-count-classes();

.col-count {
  break-inside: avoid-column;
}

// Remove bottom margin on last paragraph in alert
.alert>p:last-of-type {
  margin-bottom: 0;
}

// Live icon
.live-button>object {
  width: 0.85em;
  height: 0.85em;
  color: inherit;
}

// Map
#map {
  min-height: 400px;
}

// Live button font size in navigation bar
.nav-link .live-button {
  font-size: 1em;
}

// Print styles
@media print {

  // Remove live buttons
  .live-show {
    display: none;
  }

  .live-hide {
    display: inline-block !important;
  }
}
