---
layout: default
title: Vorträge
---

<h1>{{ page.title }}</h1>

{% for main_category in site.main_categories %}
  <h4><span class="badge badge-{{ main_category.color }}">{{ main_category.name }}</span></h4>
  <ul class="ul-talks">
    {% for talk in site.talks %}
      {% for cat in talk.categories %}
        {% if cat == main_category.name %}
          {% assign main_cat = main_category.name %}
          <li>
            <strong>{% include show_talk.html %}</strong><br />

            {% include list_sub_categories.html %}
            {% if has_sub_categories %}<br />{% endif %}

            {% if talk.hide %}

              {% for r in site.data.program %}
                {% for t in r.talks %}
                  {% if talk.name == t.name %}
                    {% include get_talk_time.html %}
                    {% assign room = site.location | where: 'name', r.room | first %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endfor %}

              um {% include show_talk_time.html %} Uhr

              im Raum {% include show_room.html %}<br />
            {% endif %}

            von {% include list_speakers.html %}

          </li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endfor %}
