---
---

@import "bootstrap-custom";


// Program Styling

// overflow
.p-table {
  display: block;
  width: 100%;
  overflow-y: auto;

  margin-top: 1rem;
}

// outer border settings
.table {
  border: 0px none;

  tr:first-of-type th {
    border-top: 0px none;
  }
  tr th:first-of-type {
    border-left: 0px none;
  }
}

// first column width and alignment
.table tr th:first-of-type {
  width: 4rem;
  text-align: center;

  // talk times
  &.text-muted {
    font-weight: normal;
  }
}
.table tr:first-of-type th {
  text-align: center;
}

// minimum row hight
tbody tr {
  height: 3rem;
}

// time row
.table tbody th {
  // move time closer to grid
  padding-top: .1rem;

  // smaller font-size for intermediate times
  &.text-muted {
    font-size: 0.8rem;
  }

  // hide hours for intermediate times
  & > span {
    visibility: hidden;
  }
}

// talk box styling
.alert {
  border-radius: 0.8rem;

  *, a {
    color: #202020;
  }
}


// Talk Styling
.p-speaker {
  margin-bottom: 0.5rem;
}


// Speaker Styling
@media (min-width: 576px) {
  .div-speakerlist {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
@media (min-width: 768px) {
  .div-speakerlist {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
@media (min-width: 992px) {
  .div-speakerlist {
    -webkit-column-count: 3;
            column-count: 3;
  }
}
.div-speakergroup {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
}


// Print Styling
@media print {
  // remove underline for links
  .table a {
    text-decoration: none !important;
  }

  // show room in program table in regular color
  .table thead th a {
    color: #202020;
  }

  // overwrite bootstrap default white background
  // works only with Webkit (Chrome, Safari) and Firefox
  .table td.alert {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

    // taken from bootstrap source code
    //   _alert.scss L47
    @each $color-name, $value in $theme-colors {
      &.alert-#{$color-name} {
        $bg-color: theme-color-level($color-name, $alert-bg-level);
        background-color: $bg-color !important;
      }
    }
  }
  .badge {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

    border: 0 none white;

    // taken from bootstrap source code
    //   _badge.scss L43
    @each $color-name, $value in $theme-colors {
      .badge-#{$color-name} {
        background-color: $value !important;
      }
    }
  }
}
