
{%- assign link_disabled = link.disabled -%}
{%- assign link_icon = link.icon -%}
{%- assign link_iframe = link.iframe -%}

{%- if link.absolute_url -%}
  {%- assign link_href = link.absolute_url -%}

{%- elsif link.relative_url -%}
  {%- assign link_href = link.relative_url | prepend: site.baseurl -%}

{%- elsif link.file -%}
  {%- assign link_icon = "file-alt" -%}

  {%- if talk -%}
    {%- assign link_href = link.file | prepend: '/documents/slides/' | prepend: site.baseurl -%}

  {%- elsif speaker -%}
    {%- assign link_href = link.file | prepend: '/documents/bio/' | prepend: site.baseurl -%}

  {%- else -%}
    {%- assign link_href = link.file | prepend: '/documents/' | prepend: site.baseurl -%}

  {%- endif -%}

{%- elsif link.video -%}
  {%- assign link_href = link.video -%}
  {%- assign link_icon = "video" -%}
  {%- assign link_iframe = true -%}

  {%- if talk -%}
    {%- capture modal_title -%}
      {%- if talk.hide -%}
        {{ talk.name }}
      {%- else -%}
        <a class="text-reset" href="{{ talk.url | prepend: site.baseurl }}">
          {{ talk.name }}
        </a>
      {%- endif -%}
    {%- endcapture -%}
    {%- capture modal_subtitle -%}
      {%- include partials/list_speakers.html -%}
    {%- endcapture -%}

  {%- elsif speaker -%}
    {%- capture modal_title -%}
      {%- if speaker.hide -%}
        {{ speaker.first_name }} {{ speaker.last_name }}
      {%- else -%}
        <a class="text-reset" href="{{ speaker.url | prepend: site.baseurl }}">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </a>
      {%- endif -%}
    {%- endcapture -%}
    {%- assign modal_footer = link.name -%}

  {%- endif -%}

{%- else -%}
  {%- assign link_disabled = true -%}

{%- endif -%}

{%- capture link_tag -%}
  {%- if link.disabled -%}
    <a class="disabled{% if link_styleclass %} {{ link_styleclass }}{% endif %}" href="#">

  {%- elsif link_iframe -%}
    <a {% if link_styleclass %}class="{{ link_styleclass }}"{% endif %} title="{{ link.name }}" data-toggle="modal" data-target="#link-modal" data-href="{{ link_href }}" href="#" {% if modal_title -%}
      data-format='html' data-title="{{ modal_title | strip_newlines | escape }}" {%- if modal_subtitle %} data-subtitle="{{ modal_subtitle | strip_newlines | escape }}"{%- endif -%}
    {%- elsif link.name -%}
      data-format='text' data-title="{{ link.name }}"
    {%- endif %} {% if modal_footer -%}
      data-format='html' data-footer="{{ modal_footer | strip_newlines | escape }}"
    {%- elsif link.description -%}
      data-format='text' data-footer="{{ link.description }}"
    {%- endif %}>

  {%- else -%}
    <a{% if link_styleclass %} class="{{ link_styleclass }}"{% endif %} href="{{ link_href }}" title="{{ link.name }}">

  {%- endif -%}
{%- endcapture -%}

{%- assign link_styleclass = "" -%}
