{%- assign talk_start = t.time_start -%}
{%- assign talk_end = t.time_end -%}

{%- if talk_start contains ' +' -%}
  {%- assign talk_start_day = talk_start | split: ' +' | last | plus: 0 -%}
  {%- assign talk_start = talk_start | split: ' +' | first -%}
{%- else -%}
  {%- assign talk_start_day = 0 -%}
{%- endif -%}
{%- if talk_end contains ' +' -%}
  {%- assign talk_end_day = talk_end | split: ' +' | last | plus: 0 -%}
  {%- assign talk_end = talk_end | split: ' +' | first -%}
{%- else -%}
  {%- assign talk_end_day = 0 -%}
{%- endif -%}

{%- assign talk_start_hour = talk_start | split: ':' | first | plus: 0 -%}
{%- assign talk_start_min = talk_start | split: ':' | last | divided_by: site.conference.program.time_steps | floor | times: site.conference.program.time_steps -%}
{%- assign talk_end_hour = talk_end | split: ':' | first | plus: 0 -%}
{%- assign talk_end_min = talk_end | split: ':' | last | divided_by: site.conference.program.time_steps | ceil | times: site.conference.program.time_steps -%}

{%- assign talk_start_hour_24h = talk_start_day | times: 24 | plus: talk_start_hour -%}
{%- assign talk_end_hour_24h = talk_end_day | times: 24 | plus: talk_end_hour -%}
{%- assign talk_duration_min = talk_end_hour_24h | minus: talk_start_hour_24h | times: 60 | minus: talk_start_min | plus: talk_end_min -%}
