{%- include partials/get_talk_time.html -%}

{%- assign datetime_start = d.date | append: " " | append: time_start -%}
{%- assign add_days_start = talk_start_day | times: 24 | times: 60 | times: 60 -%}
{%- assign timestamp_start = datetime_start | date: "%s" | plus: add_days_start | date: "%s" -%}

{%- assign datetime_end = d.date | append: " " | append: time_end -%}
{%- assign add_days_end = talk_end_day | times: 24 | times: 60 | times: 60 -%}
{%- assign timestamp_end = datetime_end | date: "%s" | plus: add_days_end | date: "%s" -%}
