<!DOCTYPE html>
<html lang="{{ site.conference.lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% unless page.name contains '.' %}{{ page.name }} - {% else %}{% if page.title %}{{ page.title }} - {% endif %}{% endunless %}{{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
</head>

<body class="pb-4">
  <header>
    <!-- navigation bar (web only): -->
    {% include partials/navbar.html %}

    {% unless page.url == "/" %}
      <!-- site title (print only): -->
      <div class="container d-none d-print-block mt-4 mb-4">
        <h1 class="display-4">
          {{ site.title }}
        </h1>
      </div>
    {% endunless %}

  </header>
  <main class="container">

    {% include partials/info_bar.html %}
