{% for speaker_name in talk.speakers %}
  {% assign speaker = site.speakers | where: 'name', speaker_name | first %}
  {% if site.show_firstname %}
    {% assign speaker_short = speaker.first_name | append: ' ' | append: speaker.last_name %}
  {% else %}
    {% assign speaker_short = speaker.first_name | slice: 0 | append : '. ' | append: speaker.last_name %}
  {% endif %}

  {% assign hide_speaker = false %}
  {% if site.hide_links['speakers'] != true %}
    {% for hidden_speaker in site.hide_links['speakers'] %}
      {% if hidden_speaker == speaker.name %}
        {% assign hide_speaker = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign hide_speaker = true %}
  {% endif %}

  {% if speaker.hide %}
    <em>{{ speaker_short }}</em><!--
  {% else %}
    <em><a href="{{ speaker.url }}">{{ speaker_short }}</a></em><!--
  {% endif %}
  {% if forloop.last != true %}
    -->,
  {% else %}
    -->
  {% endif %}

{% endfor %}
