{% if site.conference.live %}
  {% assign time_start = t.time_start %}
  {% assign time_end = t.time_end %}
  {% include partials/get_timestamp.html %}

  {%- if site.conference.live.streaming -%}
    <a title="{{ link.name }}" data-toggle="modal" data-target="#stream-modal" data-room="{{ r.room }}" class="cursor-pointer
  {%- else -%}
    <span class="
  {%- endif %} live-show live-button badge badge-dark font-weight-normal text-left d-none {{ live_button_styleclass }}" data-start="{{ timestamp_start }}" data-end="{{ timestamp_end }}">
    <object data="{{ site.baseurl }}/assets/icons/live.svg" type="image/svg+xml"></object>
    {{ site.data.lang[site.conference.lang].live | default: "Live" }}
  {%- if site.conference.live.streaming -%}
    </a>
  {%- else -%}
    </span>
  {%- endif -%}
  {% assign live_button_styleclass = "" %}
{% endif %}
