<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
  <div class="container">

    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in site.conference.navigation.links %}
          {% if link.menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown{{ forloop.index0 }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ link.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-dropdown{{ forloop.index0 }}">
                {% for sublink in link.menu %}
                  {% if sublink.disabled %}
                    <a class="dropdown-item disabled" href="#">
                      {{ sublink.name }}
                    </a>
                  {% else %}
                    <a class="dropdown-item" href="{% if sublink.absolute_url %}{{ sublink.absolute_url }}{% else %}{{ sublink.relative_url | prepend: site.baseurl }}{% endif %}">
                      {{ sublink.name }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% else %}
            <li class="nav-item {% if page.url contains link.relative_url %}active{% endif %}">
              {% if link.disabled %}
                <a class="nav-link disabled" href="#">
                  {{ link.name }}
                </a>
              {% else %}
                <a class="nav-link" href="{% if link.absolute_url %}{{ link.absolute_url }}{% else %}{{ link.relative_url | prepend: site.baseurl }}{% endif %}">
                  {{ link.name }}
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% if site.conference.navigation.logo %}
      <div class="navbar-brand navbar-logo mr-0 w-25 text-right overflow-hidden">
        <a href="{{ site.conference.navigation.logo.url }}">
          {% if site.conference.navigation.logo.img %}
            <img src="{{ site.conference.navigation.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="align-middle" alt="{{ site.conference.navigation.logo.name }}" />
          {% else %}
            {{ site.conference.navigation.logo.name }}
          {% endif %}
        </a>
      </div>
    {% endif %}

  </div>
</nav>