{%- assign nbr_days = site.data.program.days | size -%}

<a href="
  {{- site.conference.program.url | prepend: site.baseurl -}}
  {%- if nbr_days > 1 and day_hash -%}
    #{{ day_hash }}
  {%- endif -%}
" class="badge badge-light font-weight-normal text-left {{ talk_time_styleclass }}">
  <i class="far fa-clock"></i>&nbsp;
  {%- if nbr_days > 1 and day_abbr -%}
    {%- unless talk_day_hide -%} {{ day_abbr }}, {% endunless -%}
    {%- assign talk_day_hide = false -%}
  {% endif -%}
  {{- talk_start_hour -}}:{%- if talk_start_min == 0 -%}0{%- endif -%}{{- talk_start_min -}}
</a>

{%- assign talk_time_styleclass = "" -%}
