
// Framework Configuration

//   Bootstrap Theme
$border-radius:      .1rem;
$alert-border-width: 4px;

//   FontAwesome
$fa-font-path: '/assets/webfonts';


// Import Sources

//   Style Framework: Bootstrap
@import 'bootstrap';
//   Icons: FontAwesome
@import 'fontawesome';
@import 'regular';
@import 'solid';
//   Map Display Framework: Leaflet
@import 'leaflet';
@import 'easy-button';
@import 'L.Control.Locate.min.css';


// Adapt Bootstrap Elements

//   Alert
.alert {
  //$alert-border-radius
  border-width: 0px;
  border-left-width: $alert-border-width;
}

@each $color, $value in $theme-colors {
  .border-soft-#{$color} {
    border-color: theme-color-level($color, $alert-border-level);
    border-left-width: $alert-border-width;
    border-left-style: solid;
  }
  .bg-soft-#{$color} {
    @include gradient-bg(theme-color-level($color, $alert-bg-level));
  }
}

// Extend Bootstrap Elements
.display-5 {
  font-size:   3rem;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}
.font-normal {
  .badge {
    font-size:   .85em;
  }
}


// Custom Styling

// General

//   No bottom margin on info-bar
.alert > p:last-of-type {
  margin-bottom: 0;
}

// Program

//   Sticky header and first column
.table {
  // Avoid sticky cells without border
  border-collapse: separate;

  // Correct border-width caused by border-collapse
  border-spacing: 0px;
  tbody tr:first-of-type > * {
    border-top-width: 0px;
  }

  // Sticky positioning
  th {
    position: sticky;
    background-color: $body-bg;
  }
  thead th {
    top: 0px;
    z-index: 2;
    &:first-of-type {

      left: 0px;
      z-index: 3;
    }
  }
  tbody th {
    left: 0px;
    z-index: 1;
  }

  // Hide border next to sticky header
  thead tr > th:last-of-type {
    box-shadow: 10px 0px 0px 0px rgba(255,255,255,1);
  }

  // TODO: Keep content around table in viewport if overflow occurs
}

//   Column Width
$prgm-first-col-width: 4rem;
$prgm-cols-width:      240px;
$prgm-cols-spacing:    10px;

.table {
  // First row defines width for all columns
  table-layout: fixed;

  // Table width
  width: calc(#{$prgm-cols-nbr} * #{$prgm-cols-width} + #{$prgm-cols-nbr} * #{$prgm-cols-spacing} + #{$prgm-first-col-width});
  min-width: 100%;

  // Column widths
  thead {
    th:nth-child(even) {
      width: $prgm-cols-spacing;
    }
    th:nth-child(odd) {
      width: $prgm-cols-width;
      max-width: calc((100% / $prgm-cols-nbr) - $prgm-first-col-width - $prgm-cols-nbr * $prgm-cols-spacing);
    }
    th:first-of-type {
      width: $prgm-first-col-width;
    }
  }
}

// Location
.nav-pills .nav-link.active {
  background-color: theme-color-level('primary', $alert-bg-level);
  color: var(--dark);
}

// Speaker
.speakergroup {
  page-break-inside: avoid;
  break-inside:      avoid-column;
@include media-breakpoint-up(sm) {
}
  .speakerlist {
    column-count: 1;
  }
}
@include media-breakpoint-up(md) {
  .speakerlist {
    column-count: 2;
  }
}
@include media-breakpoint-up(lg) {
  .speakerlist {
    column-count: 3;
  }
}
// Print

@media print {
  // remove underline for links
  a {
    text-decoration: none !important;
  }

  // overwrite bootstrap default white background
  // works only with Webkit (Chrome, Safari) and Firefox
  @each $color, $value in $theme-colors {
    .table td.alert-#{$color} {
      color-adjust: exact;
      background-color: theme-color-level($color, $alert-bg-level) !important;

      color: black;
    }
  }
  .badge {
    color-adjust: exact;

    border: 0 none white;
    text-decoration: none !important;
  }

  // Remove sticky position from table to show borders
  .table  th {
    position: inherit;
  }
}
