{% if site.conference.live and site.conference.live.streaming -%}
{
    "days": [
        {%- for d in site.data.program.days %}
        {
            {%- include partials/get_day_hash.html %}
            "name": "{{ day_name }}",
            "hash": "{{ day_hash }}",
            "date": "{{ d.date }}"
        }{%- unless forloop.last -%},{%- endunless %}
        {%- endfor %}
    ],

    "rooms": {
    {%- assign first_room = true -%}
    {%- for room in site.rooms %}
        {%- if room.live -%}
            {%- unless first_room -%}
                ,
            {%- else -%}
                {%- assign first_room = false -%}
            {%- endunless %}
        "{{ room.name }}": {
            "id": {{ forloop.index }},
            "name": "{{ room.name }}",
            "href": "{{ room.live }}"
        }
        {%- endif -%}
    {%- endfor %}
    },

    "speakers": {
    {%- for speaker in site.speakers %}
        "{{ speaker.name }}" : {
        {%- if site.conference.speakers.show_firstname %}
            "name": "{{ speaker.first_name | append: ' ' | append: speaker.last_name }}",
        {%- else %}
            "name": "{{ speaker.first_name | slice: 0 | append : '. ' | append: speaker.last_name }}",
        {%- endif -%}
        {%- if speaker.hide %}
            "href": ""
        {%- else %}
            "href": "{{ speaker.url | prepend: site.baseurl }}"
        {%- endif %}
        }{%- unless forloop.last -%},{%- endunless %}
    {%- endfor %}
    },

    "talks": {
    {%- assign first_room = true -%}
    {%- for room in site.rooms -%}
        {%- assign first_talk = true -%}
        {%- for d in site.data.program.days -%}
            {%- for r in d.rooms -%}
                {%- if room.name == r.name and room.live %}

                    {%- if first_talk -%}
                        {%- unless first_room -%}
                            ,
                        {%- else -%}
                            {%- assign first_room = false -%}
                        {%- endunless %}
        "{{ room.name | replace: '"', '\"' }}": [
                        {%- assign first_talk = false %}
                    {%- else -%}
                        ,
                    {%- endif -%}

                    {%- for t in r.talks %}
                        {%- assign talk = site.talks | where: 'name', t.name | first %}
            {
                "name": "{{ talk.name | replace: '"', '\"' }}",

                        {%- unless talk.hide %}
                "href": "{{ talk.url | prepend: site.baseurl }}",
                        {%- else %}
                "href": "",
                        {%- endunless -%}

                        {%- include partials/get_main_category.html %}
                "color": "{{ main_cat_color }}",
                "speakers": [
                        {%- for speaker_name in talk.speakers %}
                    "{{ speaker_name}}"{%- unless forloop.last -%},{%- endunless -%}
                        {%- endfor %}
                ],

                        {%- include partials/get_talk_timestamp.html %}
                "start": {{ timestamp_start }},
                "end": {{ timestamp_end }}
            }{%- unless forloop.last -%},{%- endunless -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}

        {%- unless first_talk %}
        ]
        {%- endunless -%}
    {%- endfor %}
    }
}
{%- endif -%}
