{% if site.conference.live and site.conference.live.streaming -%}
{
    "rooms": {
    {%- for r in site.data.program %}
        {%- assign room = site.rooms | where: 'name', r.room | first -%}
        {%- if room.live -%}
        "{{ room.name }}": {
            "id": {{ forloop.index }},
            "name": "{{ room.name }}",
            "href": "{{ room.live }}"
        }{%- unless forloop.last -%},{%- endunless %}
        {%- endif -%}
    {%- endfor %}
    },

    "speakers": {
    {%- for speaker in site.speakers %}
        "{{ speaker.name }}" : {
        {%- if site.conference.speakers.show_firstname %}
            "name": "{{ speaker.first_name | append: ' ' | append: speaker.last_name }}",
        {%- else %}
            "name": "{{ speaker.first_name | slice: 0 | append : '. ' | append: speaker.last_name }}",
        {%- endif -%}
        {%- if speaker.hide %}
            "href": ""
        {%- else %}
            "href": "{{ speaker.url | prepend: site.baseurl }}"
        {%- endif %}
        }{%- unless forloop.last -%},{%- endunless %}
    {%- endfor %}
    },

    "talks": {
    {%- for r in site.data.program -%}
        {%- assign room = site.rooms | where: 'name', r.room | first -%}
        {%- if room.live %}
        "{{ room.name | replace: '"', '\"' }}": [
            {%- for t in r.talks %}
                {%- assign talk = site.talks | where: 'name', t.name | first -%}
            {
                "name": "{{ talk.name | replace: '"', '\"' }}",

                {%- unless talk.hide %}
                "href": "{{ talk.url | prepend: site.baseurl }}",
                {%- else %}
                "href": "",
                {%- endunless -%}

                {%- include partials/get_main_category.html %}
                "color": "{{ main_cat_color }}",

                "speakers": [
                {%- for speaker_name in talk.speakers %}
                    "{{ speaker_name}}"{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor %}
                ],

                {%- assign time_start = t.time_start -%}
                {%- assign time_end = t.time_end -%}
                {%- include partials/get_timestamp.html %}
                "start": {{ timestamp_start }},
                "end": {{ timestamp_end }}
            }{%- unless forloop.last -%},{%- endunless %}
            {%- endfor %}
        ]{%- unless forloop.last -%},{%- endunless %}
        {%- endif -%}
    {%- endfor %}
    }
}
{%- endif -%}
