#!/usr/bin/env bash

{% if site.conference.location.hide -%}
rm -r _site/rooms
rm -r _site/{{ site.conference.location.url | default: "location" }}
{% else -%}
{%- for room in site.rooms -%}
{%- if room.hide -%}
rm -r _site/{{ room.url | slice: 1, room.url.size }}
{% endif -%}
{%- endfor -%}
{%- endif -%}

{%- for speaker in site.speakers -%}
{%- if speaker.hide -%}
rm -r _site/{{ speaker.url | slice: 1, speaker.url.size }}
{% endif -%}
{%- endfor -%}

{%- for talk in site.talks -%}
{%- if talk.hide -%}
rm -r _site/{{ talk.url | slice: 1, talk.url.size }}
{% endif -%}
{%- endfor %}
rm _site/delete_hidden.sh
