{% include header.html %}

  {% assign this_room = page %}

  <h1 class="display-5 mb-3 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].location.directions | default: "Directions" }}
    {% endif %}
  </h1>

  {% unless site.conference.location.hide %}
    {% include navbar_rooms.html %}
  {% endunless %}

  {% if site.conference.location.postal_address %}
    <address>
      {%- if site.conference.location.name %}
      <strong>{{ site.conference.location.name }}</strong><br />
      {%- endif %}
      {%- if site.conference.location.postal_address.street %}
      {{ site.conference.location.postal_address.street }}<br />
      {%- endif %}
      {%- if site.conference.location.postal_address.region %}
      {{ site.conference.location.postal_address.region }}
      {%- endif %}
      {%- if site.conference.location.postal_address.postal_code %}
      {{ site.conference.location.postal_address.postal_code }}
      {%- endif %}
      {%- if site.conference.location.postal_address.locality %}
      {{ site.conference.location.postal_address.locality }}
      {%- endif %}
    </address>
  {% elsif site.conference.location.name %}
    <p>
      <strong>{{ site.conference.location.name }}</strong>
    </p>
  {% endif %}

  {{ content }}

  {% if site.conference.location.map %}
    <div id="map" class="w-100 rounded shadow-sm"></div>
  {% endif %}

{% include footer.html %}
