{% include header.html %}

  <div class="jumbotron">
    <h1 class="display-3">
      {{ site.title }}
    </h1>
    {% if site.description != none %}
      <p class="lead">
        {{ site.description | markdownify | replace: '<p>', '<p class="lead">' }}
      </p>
    {% endif %}

    <hr class="my-4">

    {{ content }}

    {% assign navigation = site.navigation | where_exp: 'link', 'link.main_name' %}
    {% if navigation.size > 0 %}
      <p class="lead">
      {% for link in navigation %}
        {% if link.disabled %}
          <a class="btn btn-primary btn-lg disabled" href="#">
            {{ link.main_name }}
          </a>
        {% else %}
          <a class="btn btn-primary btn-lg" href="{% if link.absolute_url %}{{ link.absolute_url }}{% else %}{{ link.relative_url | prepend: site.baseurl }}{% endif %}" role="button">
            {{ link.main_name }}
          </a>
        {% endif %}
      {% endfor %}
      </p>
    {% endif %}

  </div>

{% include footer.html %}
