{%- assign this_room = page -%}

{%- unless this_room.hide or site.conference.location.hide -%}
  {%- include header.html -%}

  <!-- title for print: -->
  <h1 class="display-5 mb-3 d-none d-print-inline">
    {{ this_room.name }}
  </h1>

  <!-- title shown in browser: -->
  <h1 class="display-5 mb-3 d-print-none text-break">
    {{ site.data.lang[site.conference.lang].location.rooms | default: "Rooms" }}
  </h1>

  {% include navbar_rooms.html %}

  {{ content }}

  {% assign room_talks = false %}
  {% for d in site.data.program.days %}
    {% include get_day_hash.html %}
    {% for r in d.rooms %}
      {% if this_room.name == r.name and r.talks.size > 0 %}
        {% unless room_talks %}
          <h5 class="mt-4 mb-2">
            {{ site.data.lang[site.conference.lang].location.talks | default: "Talks in this room" }}:
          </h5>
          {% assign room_talks = true %}
        {% endunless %}

        <h6 class="mt-1 mb-2">
          {{- day_name -}}
        </h6>

        <div>
        {%- for t in r.talks -%}
          {%- assign talk = site.talks | where: 'name', t.name | first -%}
          {%- include get_track_properties.html %}

          <div class="d-flex flex-row mb-2">
            <div class="align-top me-3">
              {%- include get_talk_time.html -%}
              {%- assign talk_day_hide = true -%}
              {%- assign talk_time_styleclass = "w-100" -%}
              {% include show_talk_time.html %}

              {%- assign live_button_styleclass = "w-100" -%}
              {% include show_live_button.html %}
            </div>
            <div class="flex-grow-1 ps-2 border-4 border-start border-{{ track_color }}-subtle">
              <p class="mb-0">
                {%- include show_talk.html -%}
              </p>
              <p class="fw-light mb-0">
                {%- include list_speakers.html -%}
              </p>
            </div>
          </div>
        {%- endfor -%}
        </div>
        {%- break -%}

      {% endif %}
    {% endfor %}
  {% endfor %}

  {%- include footer.html -%}
{%- endunless -%}
