{% include partials/header.html %}

  {% assign speaker = page %}

  <p class="h6">
    {{ site.data.lang[site.conference.lang].speaker.title | default: "Speaker" }}
  </p>

  <h1 class="font-weight-light mb-3">
    {{ speaker.first_name }} {{ speaker.last_name }}
  </h1>

  {{ content }}

  {% include partials/get_link_types.html %}

  {% if has_icon_links %}
    <ul class="list-unstyled">
      {% for link in speaker.links %}
        {% include partials/get_link.html %}

        {% if link_icon %}
          <li class="mb-1 ml-2">
            {{ link_tag }}
              <i class="fas fa-{{ link_icon }} pr-1"></i>
              {{ link.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if has_regular_links %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information | default: "More Information" }}:</h5>

    <ul class="list-unstyled">
      {% for link in speaker.links %}
        {% assign link_styleclass = "text-reset" %}
        {% include partials/get_link.html %}

        {% unless link_icon %}
          <li class="mb-1 ml-2 pl-2 border-soft-primary">
            {{ link_tag }}
              {{ link.name }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}

  {% assign active_speaker = false %}
  {% for talk in site.talks %}
    {% for speaker_name in talk.speakers %}
      {% if speaker_name == speaker.name %}
        {% assign active_speaker = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if active_speaker %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].speaker.talks | default: "Talks at this conference" }}:</h5>

    <ul class="list-program list-unstyled">
      {% for r in site.data.program %}
        {% if r.talks.size > 0 %}
          {% for t in r.talks %}
            {% assign talk = site.talks | where: 'name', t.name | first %}

            {% for speaker_name in talk.speakers %}
              {% if speaker_name == speaker.name %}

                {% include partials/get_main_category.html %}

                <li class="d-flex flex-row">
                  <div class="flex-column">
                    {% include partials/get_talk_time.html %}
                    {% include partials/show_talk_time.html %}
                  </div>
                  <div class="flex-column ml-2 pl-2 mb-2 border-soft-{{ main_cat_color }}">
                    <p class="mb-0">
                      {% include partials/show_talk.html %}

                      {% assign live_button_styleclass = "ml-2" %}
                      {% include partials/live_button.html %}
                    </p>
                  </div>
                </li>

              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none mt-5">
    <a href="{{ page.collection | prepend: '/' | prepend: site.baseurl }}" class="btn btn-light">
      <i class="fas fa-users"></i>
      {{ site.data.lang[site.conference.lang].overview | default: "Overview" }}
    </a>
  </p>

{% include partials/footer.html %}
