{% include partials/header.html %}

  {% assign speaker = page %}

  <!-- language -->
  <p class="h5">Speaker</p>

  <h1 class="display-5 mb-4">{{ speaker.first_name }} {{ speaker.last_name }}</h1>

  {{ content }}

  {% if speaker.links %}
    <!-- language -->
    <h5 class="mt-4 mb-1">More information:</h5>
    <ul class="list-unstyled">
      {% for link in speaker.links %}
        <li class="mb-1 ml-2 pl-2 border-soft-primary">
          {% include partials/get_link.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% assign active_speaker = false %}
  {% for talk in site.talks %}
    {% for speaker_name in talk.speakers %}
      {% if speaker_name == speaker.name %}
        {% assign active_speaker = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if active_speaker %}
    <!-- language -->
    <h5 class="mt-4 mb-1">Talks at this conference:</h5>
    <ul class="list-unstyled">
      {% for talk in site.talks %}
        {% for speaker_name in talk.speakers %}
          {% if speaker_name == speaker.name %}

            {% include partials/get_main_category.html %}
            <li class="mb-1 ml-2 pl-2 border-soft-{{ main_cat_color }}">
              {% include partials/show_talk.html %}
            </li>

          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none mt-5">
    <!-- language -->
    <a href="{% link speakers/index.html %}" class="btn btn-light">
      <i class="fas fa-users"></i>
      Overview
    </a>
  </p>

{% include partials/footer.html %}
