{% include partials/header.html %}

  {% assign speaker = page %}

  <p class="h6">
    {{ site.data.lang[site.conference.lang].speaker.title }}
  </p>

  <h1 class="font-weight-light mb-4">
    {{ speaker.first_name }} {{ speaker.last_name }}
  </h1>

  {{ content }}

  {% if speaker.links %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information }}:</h5>
    <ul class="list-unstyled">
      {% for link in speaker.links %}
        <li class="mb-1 ml-2 pl-2 border-soft-primary">
          {% include partials/get_link.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% assign active_speaker = false %}
  {% for talk in site.talks %}
    {% for speaker_name in talk.speakers %}
      {% if speaker_name == speaker.name %}
        {% assign active_speaker = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if active_speaker %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].speaker.talks }}:</h5>

    <ul class="list-unstyled">
      {% for talk in site.talks %}
        {% for speaker_name in talk.speakers %}
          {% if speaker_name == speaker.name %}

            {% include partials/get_main_category.html %}
            <li class="mb-1 ml-2 pl-2 border-soft-{{ main_cat_color }}">
              {% include partials/show_talk.html %}
            </li>

          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none mt-5">
    <a href="{% link speakers/index.md %}" class="btn btn-light">
      <i class="fas fa-users"></i>
      {{ site.data.lang[site.conference.lang].overview }}
    </a>
  </p>

{% include partials/footer.html %}
