{% include header.html %}

  {% assign speaker = page %}

  <h5>
    <!-- language -->
    <span class="badge badge-light">Speaker</span>
  </h5>

  <h1>{{ speaker.first_name }} {{ speaker.last_name }}</h1>

  {{ content }}

  {% if speaker.links %}
    &nbsp;
    <!-- language -->
    <h5>More information:</h5>
    <ul>
      {% for link in speaker.links %}
        <li>
          {% include get_link.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  &nbsp;
  <!-- language -->
  <h5>Talks at this conference:</h5>
  <ul>
    {% assign no_talks = true %}

    {% for talk in site.talks %}
      {% assign is_speaker = false %}
      {% for speaker_name in talk.speakers %}
        {% if speaker_name == speaker.name %}
          {% assign is_speaker = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if is_speaker %}
        {% assign no_talks = false %}

        <li>
          {% include show_talk.html %}
        </li>

      {% endif %}
    {% endfor %}

    {% if no_talks %}
      <li>
        <!-- language -->
        <em>no talks planned</em>
      </li>
    {% endif %}

  </ul>

  &nbsp;
  <p class="d-print-none">
    <!-- language -->
    <a href="{{ site.baseurl }}{% link speakers/index.html %}">back to the overview</a>
  </p>

{% include footer.html %}