{%- assign talk = page -%}

{%- unless talk.hide -%}
  {%- include header.html -%}

  {% if talk.track or talk.tags.size > 0 %}
    <div class="d-flex flex-md-row flex-column container-fluid mb-2 p-0">
      {% if talk.track %}
        <div class="h6 mt-2 mb-0 me-1 pe-1 pb-1">
          {% include get_track_properties.html %}
          <span class="d-block d-sm-inline p-1 px-2 bg-{{ track_color }}-subtle text-{{ track_color }}-emphasis border-start border-4 border-{{ track_color }}-subtle fw-normal">
            {{ talk.track }}
          </span>
        </div>
      {% endif %}

      {% if talk.tags.size > 0 %}
        <div class="h6 mt-2 mb-0 ms-1 pe-1 pb-1">
          {% for tag in talk.tags %}
            {%- include get_tag_icon.html -%}
            <span class="me-2">{{ tag_html }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <h1 class="fw-light text-break">{{ talk.name }}</h1>

  <p class="mb-3 fw-light">
    {% include list_speakers.html %}
  </p>

  <div class="mb-3 p-0">
    {% for d in site.data.program.days -%}
      {%- include get_day_hash.html -%}
      {%- for r in d.rooms -%}
        {%- for t in r.talks -%}
          {%- if talk.name == t.name -%}
            {%- include show_talk_info.html -%}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>

  {{ content }}

  {% include get_link_types.html %}

  {% if has_icon_links > 0 %}
    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% include get_link.html type="icon" color=track_color %}
        {% if link_valid %}
          {{ link_list_item }}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if has_regular_links > 0 %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information | default: "More information" }}:</h5>

    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% include get_link.html color=track_color %}
        {% if link_valid %}
          {{ link_list_item }}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none d-pwa-none mt-5">
    <a href="{{ page.collection | prepend: '/' | prepend: site.baseurl }}" class="btn btn-outline-secondary me-2">
      <i class="bi bi-megaphone" aria-hidden="true"></i>&nbsp;{{ site.data.lang[site.conference.lang].overview | default: "Overview" }}
    </a>

    {%- include get_program_config.html -%}
    <a href="{{ program_url | prepend: site.baseurl }}" class="btn btn-outline-secondary">
      <i class="bi bi-calendar4-week" aria-hidden="true"></i>&nbsp;{{ site.data.lang[site.conference.lang].program.title | default: "Program" }}
    </a>
  </p>

  {%- include footer.html -%}
{%- endunless -%}
