{%- assign talk = page -%}

{%- unless talk.hide -%}
  {%- include header.html -%}

  {% if talk.track or talk.tags.size > 0 %}
    <div class="d-flex flex-md-row flex-column container-fluid mb-2 p-0">
      {% if talk.track %}
        <div class="h6 mt-2 mb-0 mr-1 pr-1 pb-1">
          {% include get_track_properties.html %}
          <span class="d-block d-sm-inline p-1 pl-2 pr-2 border-soft-{{ track_color }} bg-soft-{{ track_color }} font-weight-normal">
            {{ talk.track }}
          </span>
        </div>
      {% endif %}

      {% if talk.tags.size > 0 %}
        <div class="h6 mt-2 mb-0 ml-1 pr-1 pb-1">
          {% for tag in talk.tags %}
            {%- include get_tag_icon.html -%}
            <span class="mr-2">{{ tag_html }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <h1 class="font-weight-light text-break">{{ talk.name }}</h1>

  <p class="mb-3 font-weight-light">
    {% include list_speakers.html %}
  </p>

  <div class="mb-3 p-0">
    {% for d in site.data.program.days -%}
      {%- include get_day_hash.html -%}
      {%- for r in d.rooms -%}
        {%- for t in r.talks -%}
          {%- if talk.name == t.name -%}

            {%- if site.conference.live -%}
              {%- include get_talk_timestamp.html -%}
              <span class="live-hide" data-start="{{ timestamp_start }}" data-end="{{ timestamp_end }}">
            {%- endif -%}

            {%- include get_time_pronoun.html -%}
            {%- include get_talk_time.html -%}
            <span class="d-none d-sm-inline">
              {{- time_pronoun -}}
            </span> {% include show_talk_time.html -%}

            {%- if site.conference.live -%}
              </span>
              {%- include show_live_button.html -%}
            {%- endif -%}

            {%- assign room = site.rooms | where: 'name', r.name | first -%}
            <span class="d-none d-sm-inline ml-1">
              {{- site.data.lang[site.conference.lang].pronoun.in | default: "in" -}}
            </span> {% include show_room.html -%}

            <span class="d-none d-sm-inline ml-1">
              {{- site.data.lang[site.conference.lang].pronoun.for | default: "for" -}}
            </span> {% include show_talk_duration.html -%}

          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>

  {{ content }}

  {% include get_link_types.html %}

  {% if has_icon_links > 0 %}
    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% assign link_styleclass = "text-reset" %}
        {% include get_link.html link_type="icon" %}

        {% if link_valid %}
          <li class="mb-1">
            {{ link_tag }}
              <span class="badge bg-soft-{{ track_color | default: 'light' }} font-weight-normal mr-1">
                <i class="fas fa-{{ link_icon }} fa-fw"></i>
              </span>
              {{- link.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if has_regular_links > 0 %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information | default: "More information" }}:</h5>

    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% assign link_styleclass = "text-reset" %}
        {% include get_link.html link_type="regular" %}

        {% if link_valid %}
          <li class="mb-1 ml-2 pl-2 border-soft-{{ track_color | default: 'light' }}">
            {{ link_tag }}
              {{ link.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none mt-5">
    <a href="{{ page.collection | prepend: '/' | prepend: site.baseurl }}" class="btn btn-light">
      <i class="fas fa-bullhorn"></i>&nbsp;{{ site.data.lang[site.conference.lang].overview | default: "Overview" }}
    </a>

    <a href="{{ site.conference.program.url | prepend: site.baseurl }}" class="btn btn-light">
      <i class="far fa-calendar-alt"></i>&nbsp;{{ site.data.lang[site.conference.lang].program.title | default: "Program" }}
    </a>
  </p>

  {%- include footer.html -%}
{%- endunless -%}
