{% include partials/header.html %}

  {% assign talk = page %}

  <div class="d-flex flex-lg-row flex-column container-fluid mb-2 p-0">
    <div class="h5 mb-0 pr-1 pb-1">
      {% include partials/get_main_category.html %}
      <span class="p-1 pl-2 pr-2 border-soft-{{ main_cat_color }} bg-soft-{{ main_cat_color }} font-weight-normal">
        {{ main_cat }}
      </span>
    </div>

    <div class="h5 mb-0 pr-1 pb-1">
      {% for cat in talk.categories %}
        {% if cat != main_cat %}
          <span class="ml-2">{{ cat }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <h1 class="display-5">{{ talk.name }}</h1>

  <p class="mb-3 font-weight-light">
    {% include partials/list_speakers.html %}
  </p>

  <div class="d-flex flex-lg-row flex-column container-fluid mb-3 p-0">
    {% for r in site.data.program %}
      {% for t in r.talks %}
        {% if talk.name == t.name %}

          <div class="pr-1 font-normal">
            {% include partials/get_talk_time.html %}
            {{ site.data.lang[site.conference.lang].pronoun.at }} {% include partials/show_talk_time.html %}<br />
          </div>

          <div class="pr-1 font-normal">
            {% assign room = site.location | where: 'name', r.room | first %}
            {{ site.data.lang[site.conference.lang].pronoun.in }} {% include partials/show_room.html %}<br />
          </div>

          <div class="pr-1 font-normal">
            {{ site.data.lang[site.conference.lang].pronoun.for }} <span class="badge badge-light font-weight-normal"><i class="fas fa-stopwatch"></i> {{ talk_duration_min }}min</span>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  {{ content }}

  {% if talk.links %}
    <h5 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information }}:</h5>
    <ul class="list-unstyled">
      {% for link in talk.links %}
        <li class="mb-1 ml-2 pl-2 border-soft-primary">
          {% include partials/get_link.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <p class="d-print-none mt-5">
    <a href="{% link talks/index.md %}" class="btn btn-light">
      <i class="fas fa-bullhorn"></i>
      {{ site.data.lang[site.conference.lang].overview }}
    </a>

    <a href="{% link program/index.md %}" class="btn btn-light">
      <i class="far fa-calendar-alt"></i>
      {{ site.data.lang[site.conference.lang].program.title }}
    </a>
  </p>

{% include partials/footer.html %}
