{% include header.html %}

  {% assign talk = page %}

  <h5>
    {% include list_categories.html %}
  </h5>

  <h1>{{ talk.name }}</h1>

  <p class="p-speaker">
    <em>
      {% include list_speakers.html %}
    </em>
  </p>

  <p>
    {% assign first_talk = 1 %}
    {% for r in site.data.program %}
      {% for t in r.talks %}
        {% if talk.name == t.name %}
          {% if first_talk != 1 %}
            <br />
          {% else %}
            {% assign first_talk = 0 %}
          {% endif %}

          {% include get_talk_time.html %}
          Beginn um {% include show_talk_time.html %} Uhr

          {% assign room = site.location | where: 'name', r.room | first %}
          im Raum {% include show_room.html %},

          Dauer: <span class="badge badge-light">{{ talk_duration_min }}min</span>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </p>

  {{ content }}

  {% if talk.links %}
    &nbsp;
    <h5>Weiterführende Informationen:</h5>
    <ul>
      {% for link in talk.links %}
        <li>
          {% include get_link.html %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  &nbsp;
  <p class="d-print-none">
    <a href="{{ site.baseurl }}{% link talks/index.html %}">zurück zur Übersicht</a>
  </p>
  <p class="d-print-none">
    <a href="{{ site.baseurl }}{% link program/index.html %}">zurück zum Program</a>
  </p>

{% include footer.html %}
