name: Test Jekyll Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Generate Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build JavaScript and CSS bundles
        run: npm run build

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Build website
        run: |
          bundle exec jekyll build -d _site/
